

* {
    box-sizing: border-box;
}

html, body {
    width    : 100%;
    height   : 100%;
    overflow : hidden;
}
html, body, div, p, i, span, p, img, ul, li, ol, h1, h2, h3 {
    @include transition-duration(0.5s);
} 

body {
    position               : absolute;
    padding                : 0;
    margin                 : 0;
    font-size              : $font-base-size;
    font-family            : $font-family-light;
    background-color       : $color-app-base-bg;
    @include transition(0.25s);
}

div {
  @include box-sizing(border-box);
}

//
// Background Image
//
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  @include transition(0.35s);
}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  @include transition(0.35s);
}

//
//Application Styles
//
.app-main-container {
    position : relative;
    width    : inherit;
    height   : inherit;
    overflow : hidden;
}

.app-top-bar {
    position    : absolute;
    width       : 25%;
    height      : 100%;
    background  : $color-app-header-bg;
    background  : -webkit-linear-gradient(left, $color-app-header-bg , rgba(#414447, 0.9)); /* For Safari 5.1 to 6.0 */
    background  : -o-linear-gradient(right, $color-app-header-bg rgba(#414447, 0.9)); /* For Opera 11.1 to 12.0 */
    background  : -moz-linear-gradient(right, $color-app-header-bg, rgba(#414447, 0.9)); /* For Firefox 3.6 to 15 */
    background  : linear-gradient(to right, $color-app-header-bg , rgba(#414447, 0.9)); /* Standard syntax */
    border-right: 10px solid #fff;
    // @include box-shadow(15px 0px 10px $color-box-shadow);
    z-index     :99;
}

.app-logo {
    width :inherit;
    height:inherit;
    @include transition(0.5s);
}
.app-logo img {
    position: absolute;
    height  :125px;
    top     :50px;right:0;left:0;
    margin  :auto;
}
//
// Left Nav Styles
//

#back {
    position:absolute;
    width   :25%;
    top     :0;
    left    :0; 
    height  :100%;
    opacity :0;
    z-index :9999;
    @include transition(0s);
}
#back i {
    position :absolute;
    font-size:6vw;
    color    :#fff;
    top      :50%;
    left     :50%;
    margin   :auto;
    @include transform(translate(-50%,-50%));
}

.leftnav-main-container {
    position  : absolute;
    top       : 75px;
    left      : 0;
    height    : 100%;
    width     : 25%;
    // margin : 0 25% 0 0;
    text-align:center;
    z-index   :99;
}

.leftnav-main-container.slide {
    margin-right:0;
}

.leftnav-menu-list {
    position        : absolute;
    width           : 100%;
    height          : 100%;
    padding         : 0px;
    background-color: transparent;
}

.leftnav-menulist-expanded {
    @extend .leftnav-menu-list;
    height : 100%;
    top    : 0;
    z-index: 99;
}

.leftnav-menulist-collapsed {
    @extend .leftnav-menu-list;
    top    : $pos-top-leftnav-content;
    height : $size-leftnav-collapsed-height;
    z-index: 99;
}

.leftnav-collapsed-highlight {
    // @include box-shadow(0px 10px 18px 3px rgba(0,0,0,0.44));
    border      : solid;
    border-width: 0;
    border-color: $color-app-dialog-head-border;
}

.leftnav-menulist-collapsed .leftnav-menu-scrolling-list {
    margin-top : -$pos-top-leftnav-content;
}

.leftnav-menu-scrolling-list {
    color : $color-menu-item-text;
}

.leftnav-list-item-static.leftnav-list-item-chosen.subcat-header {
    position  : absolute;
    top       : 148px;
    left      :30%;
    width     : 50%;
    background: none;
    border    : none;
}

.leftnav-list-item-static {
    word-wrap       : break-word;
    line-height     : $size-leftnav-line-height;
    font-weight     : lighter;
    font-size       : 1.7em;
    min-height      : 90px;
    // padding      : 0 50px 0 $pos-left-content-position;
    overflow        : hidden;
    margin-bottom   : 2px;
    background-color: $color-menu-item-bg;
    @include transition-property(opacity);
    @include transition-duration($ani-duration-leftnav-item);
    @include display-box;
    @include box-orient(vertical);
    @include line-clamp(1);
}

.leftnav-list-item-container:first-child {
    margin-top : $pos-top-leftnav-content;
}

.leftnav-list-item-highlighted {
    color     : $color-menu-item-highlight-text;
    background: $color-menu-item-highlight-bg $pos-right-leftnav-arrow-icon center;
    // @include box-shadow(15px 0px 0px #fff);
    // @include filter(brightness(200%));
}

.leftnav-list-item-container .leftnav-list-item-selected {
    color     : $color-menu-item-selected-text;
    // @include box-shadow(15px 0px 0px #fff);
    background: $color-menu-item-selected-bg $pos-right-leftnav-arrow-icon center;
}

.leftnav-list-item-chosen {
    color      : $color-menu-item-chosen-text;
    background : $color-menu-item-chosen-bg $pos-right-leftnav-arrow-icon center;
    background-color : transparent;
}


//
// Full Row View
//
.one-d-no-items-container {
    position : absolute;
    display  : none;
    top      : 300px;
    left     : 200px;
    color    : $color-title-text;
    font-size: 3em;
}

.one-D-details-container {
    position : absolute;
    top    : 0;
    left   : 0;
    width  : 100%;
    height : 100%;
    @include transition-property(visibility);
    @include transition-duration($ani-duration-maincontent-opacity);
    @include transition-timing-function(linear);
}

.subcategory-container {
    height  : 100%;
    width   : 100%;
    position: absolute;
    top     : 0;
    left    : 0;
    @include transition-property(opacity);
    @include transition-duration($ani-duration-maincontent-opacity);
    @include transition-timing-function(linear);
}

.one-D-details-summary-text {
    position  : absolute;
    bottom    : 7vh;
    width     : 75%;
    height    : 28%;
    left      : 25%;
    color     : $color-title-text;
    z-index   :10;
    text-align:center;
    padding   :1.3vw;
    background:rgba(#000, 0.5);

    .one-D-summary-title {
        color      : $color-title-text;
        font-size  : 2.3vw;
        font-family: $font-family-medium;
        overflow   : hidden;
        @include display-box;
        @include box-orient(vertical);
        @include line-clamp(1);
    }
    .one-D-summary-description {
        color      : $color-description-text;
        font-style : italic;
        text-align :center;
        margin     :15px auto;
        width      :70%;
        font-size  : 1.8vw;
        overflow   : hidden;
        align-items: center;
        @include display-box;
        @include box-orient(vertical);
        @include line-clamp(3);
    }
    .one-D-summary-pubdate {
        font-family: $font-family-player;
        font-weight: 200;
        font-size  :2.1vw;
        color      : $color-meta-secondary-text;
        .time-upcoming {
            color: $color-time-upcoming-text;
        }
    }
}

.detail-row-container-buttons {
    height : 75px;
    margin : 20px 0;
}

.detail-item-button {
    position    : relative;
    width       : 315px;
    height      : 73px;
    padding     : 15px;
    float       : left;
    font-size   : 1.4em;
    margin-right: 20px;
    text-align  : center;
    border      : 1px solid transparent;
}

.detail-item-button-selected {
    @extend .detail-item-button;
    overflow        : hidden;
    margin-top      : 0px;
    color           : $color-btn-selected-text;
    background-color: $color-btn-selected-bg;
    border          : solid;
    border-color    : $color-app-dialog-head-border;
    border-width    : 1px;
    @include box-shadow(0px 10px 18px 3px $color-box-shadow);
}

.detail-item-button-static{
    @extend .detail-item-button;
    color           : $color-btn-text;
    background-color: $color-btn-bg;
    line-height     : 45px;
}

#one-D-shoveler-container {
    position : absolute;
    // top      : 290px;
    top:25%;
    width    : 100%;
    height   : 380px;
    z-index  : 0;
    @include transform(translateZ(0));
    @include transition-property-transform-plus(opacity);
    @include transition-property-transform-plus(visibility);
    @include transition-duration(1s);
    @include transition-timing-function(linear);
}

//
// Shoveler View
//
.shoveler-dynamic-row-container {
    position : absolute;
    width    : 1000%;
    height   : 100%;
    left     : 200px;
    overflow : hidden;
    @include transition-property-transform;
    @include transition-duration(1s);
    @include transform(translateX(0));
    @include transition-timing-function(linear);
}

.shoveler-row-container {
    width  : 100%;
    height : 100%;
    @include transform-style(preserve-3d);
}

.shoveler-rowitem-static {
    position : absolute;
    left     : $pos-left-content-position;
    height   : 100%;
    @include transition-property-transform-plus(opacity);
    @include transition-duration(0.25s);
    @include transition-timing-function(linear);
    @include transform-origin(left center);
    img {
        height  : 100% !important;
        display : inline-block;
    }
}

//selected elements in the shoveler view
.shoveler-rowitem-selected {
    @include box-shadow(0px 10px 18px 3px rgba(0,0,0,0.44));
    img {
        background-blend-mode : overlay;
        display : inline-block;
    }
}

.shoveler-subcat-bg {
    width           : 91px;
    height          : 100%;
    margin-left     : -10px;
    display         : inline-block;
    background-image: $img-subcat-bg;
}

//
// Player View
//
.player-main-container {
  position : absolute;
  top      : 0;
  left     : 0;
  width    : 100%;
  height   : 100%;
}

.pauseOverlay {
    position  :absolute;
    opacity   :0.9;
    z-index   :101;
    width     :100vw;
    height    :100vh;
    background:rgba(#000,0.8);
    text-align:center;
    margin-top:100%;
    @include transition(0.5s);
}

.pauseOverlay.slide {
    margin-top:0;
}

.pause-left {
    position:absolute;
    left    :0;
    padding :100px;
    width   :50%;
    height  :100%;
}

.pause-left-inner {
    position:absolute;
    width   :100%;
    left    :0;
}

.player-watermark {
    margin-top:5vw;
    width:15vw;
}

.pause-title {
    margin    : 2vw 0;
    color     : $color-description-text;
    text-align:center;
    font-size : 2vw;
}

.pause-thumb {
    color     : $color-description-text;
    text-align:center;
    font-size : 1.8em;
}

.pause-thumb img {
    width:60%;
}

.pause-right {
    position:absolute;
    width   :50%;
    height  :88%;
    left    :50%;
}

.pause-right span {
    position :absolute;
    width    :100%;
    color    : $color-description-text;
    font-size: 1.5vw;
    padding  :3vw;
    left     :0;
    top      :50%;
    @include transform(translateY(-50%));
}


#player-content-video {
    position  : absolute;
    width     : 100%;
    height    : 100%;
    background: black;
}

.player-controls-container {
    position        : absolute;
    width           : 100%;
    height          : 12%;
    padding         : 0 8%;
    bottom          : 0;
    opacity         : 0;
    background-color: $color-player-controls-bg;
    @include transition(0.5s);
    z-index         : 102;
}

.player-controls-timeline-container {
    position   : relative;
    height     : 2vh;
    margin-top : 2vw;
}

.player-controls-timeline {
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    border          : 1px solid $color-timeline-border;
    background-color: $color-timeline-bg;
}

.player-controls-timeline-playhead {
    position        : absolute;
    width           : 0%;
    height          : 2vh;
    border-right    : 0.25vw solid #fff;
    margin-top      : -1px;
    background-color: $color-playhead-bg;
}

.player-controls-skip-indicator {
    position           : absolute;
    width              : 3vw;
    height             : 1vw;
    bottom             : 3.8vw;
    font-size          : 1.8vw;
    color              : $color-meta-primary-text;
    text-align         : center;

    i {
        margin   : auto;
        font-size: 1.5vw;
        color    :$color-player-controls-bg;
    }
}

#forward-indicator {
    display    : none;
    margin-left: 3vw;
}

#rewind-indicator {
    display    : none;
    margin-left: 2.5vw;
}

.player-controls-timestamp {
    margin-top: 0.8vw;
    font-size : 1.2vw;
}

.player-controls-timestamp-curtime {
    @extend .player-controls-timestamp;
    color      : $color-meta-primary-text-player;
    display    : inline-block;
    float      : left;
    font-family: $font-family-player;
}

.player-controls-timestamp-totaltime {
    @extend .player-controls-timestamp;
    color      : $color-meta-secondary-text-player;
    display    : inline-block;
    float      : right;
    font-family: $font-family-player;
}

.player-controls-content-title {
    position   : absolute;
    top        : 80px;
    height     : 59px;
    color      : $color-title-text;
    font-size  : 1.8em;
    font-family: $font-family-medium;
    margin-top : 20px;
    overflow   : hidden;
    @include display-box;
    @include box-orient(vertical);
    @include line-clamp(1);
}

.player-controls-button-back {
    display : none;
}

.player-controls-content-subtitle {
    position  : absolute;
    top       : 170px;
    width     : 60%;
    height    : 72px;
    color     : $color-description-text;
    font-style: italic;
    font-size : 1.1em;
    @include display-box;
    @include box-orient(vertical);
    @include line-clamp(2);
}

.player-pause-button,
.player-play-button {
    position   : absolute;
    top        : 30%;
    left       : 50%;
    opacity    : 0;
    @include transform(translateX(-50%));
    @include transition(0.25s);
    z-index:105;
}

.player-pause-button i,
.player-play-button i {
    color    : $color-player-controls-bg;
    font-size: 6vw;
}

//
// Next Video View
//
.next-video-main-container {
    position        : absolute;
    height          : 100%;
    width           : 30%;
    right           : 0;
    display         : flex;
    color           : $color-meta-secondary-text;
    background-color: $color-player-controls-bg;
    flex-direction  : column;
}

.next-video-text {
    margin-top : 60px;
    margin-left: 50px;
    font-weight: bold;
    font-size  : 1.1em;
    color      : $color-meta-primary-text;
}

.next-video-thumbnail {
    height     : 250px;
    max-width  : 425px;
    margin-left: 50px;
    margin-top : 30px;
    width      : auto;
    img {
        width : 100%;
        height: 100%;
        border: solid 1px $color-thumbnail-border;
    }
}

.next-video-thumbnail:after {
    position           : relative;
    top                : -250px;
    height             : 100%;
    width              : 100%;
    z-index            : 90;
    content            : " ";
    display            : block;
    background-position: center;
    background-repeat  : no-repeat;
    background-image   : $img-nextvideo-preview-play;
}

.next-video-playingtext {
    margin-left : 50px;
    margin-top  : 15px;
}

.next-video-title {
    margin-left: 50px;
    margin-top : 30px;
    color      : $color-title-text;
    font-weight: lighter;
    font-size  : 2.5em;
    line-height: 1;
}

.next-video-description {
    margin-top   : 30px;
    margin-left  : 50px;
    overflow     : hidden;
    font-size    :  1.1em;
    color        : $color-description-text;
    text-overflow: ellipsis;
    display      : -webkit-box;
    @include line-clamp(5);
    @include box-orient(vertical)
}

//
// Overlay and Spinner
//
.app-overlay-container {
    position               : absolute;
    top                    : 0;
    left                   : 0;
    width                  : 100%;
    height                 : 100%;
    z-index                : 500;
    background-color       : $color-overlay-bg;
    background             : $img-overlay-bg no-repeat center center fixed;
    background-size        : 100% 100%;
    -webkit-background-size: cover;
    -moz-background-size   : cover;
    -o-background-size     : cover;
    background-size        : cover;
}

.app-overlay-message {
    color      : $color-overlay-text;
    text-align : center;
    margin-top : 25%;
}

.spinnerParent {
    width          :100%;
    height         :100%;
    position       :absolute;
    top            :0;left:0;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.content-load-spinner {
  position       : relative;
  background     :$img-content-loader-spinner no-repeat;
  background-size:9vw;
  width          :9vw;
  height         :9vw;
  z-index        : 600;
  opacity        :0.6;
  @include animation(spin 1.5s infinite linear);
}

.modal-dialog {
  z-index         : 650;
  background-color: $color-app-dialog-bg;
  color           : $color-app-dialog-btn-text;
  position        : absolute;
  left            : 515px;
  top             : 30%;
  width           : 890px;
  min-height      : 500px;
  padding         : 60px;
  .dialog-title {
    margin-bottom: 30px;
    font-size    : 48pt;
    font-family  : $font-family-medium;
}
.dialog-message {
    margin-bottom: 60px;
    font-size    : 36pt;
}
.dialog-buttons-container {
    justify-content: center;
    display        : flex;
}
}

@-webkit-keyframes spin {
  0% {
    @include transform(rotate(0deg));
}
100% {
    @include transform(rotate(360deg));
}
}

@keyframes spin {
  0% {
    @include transform(rotate(0deg));
}
100% {
    @include transform(rotate(360deg));
}
}

//Media queries for tablets
//
@media (-webkit-min-device-pixel-ratio: 1.5) {
    .player-controls-button-back {
        position: absolute;
        display : block;
        float   : left;
        top     : 10px;
        left    : 30px;
    }

    .detail-row-container-buttons {
        bottom : 10px;
    }
}

@media only screen and (min-width : 3840px) {
    .leftnav-list-item-static {
        font-size:2.2vw;
    }
    .app-logo img {
        height :6vw;
        top:2vw;
    }
    .leftnav-main-container {
        top:7vw;
    }
    #one-D-shoveler-container {
        height:18vw;
    }
}